@charset "ISO-8859-1";@charset "ISO-8859-1";
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
:root{
    --mainColor: #A1C6F3;
}
header{
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 60px;
    border-bottom: 1px solid ;
    
}
.logo img {
    width: 50px;
    height: 50px;
}


/* Dropdown Button */
.dropbtn {
    font-weight: 500;
    border-radius: 8px;
    padding: 7px 20px;
    outline: none;
    cursor: pointer;
    text-decoration: none;
}
.drop-container{
	position: relative;
}
a{
	text-decoration: none;
	font-weight: 500;
	color: #606060;
}
header a:hover{
	background-color: #A1C6F3;
	color:#FFFFFF;
	box-shadow: 5px 10px 30px rgba(64,198,196,0.3);
	transition: all ease 0.2s;
    padding: 10px;
    margin-right: 13px;
}
/* The container <div> - needed to position the dropdown content */
.dropdown {
	z-index: 10000;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
display: none;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1;
  background-color: white;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: all 0.5s ease;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: #333;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: #f1f1f1;
}

.search-bar{
    border: none;
    outline: none;
    height: 40px;
    width: 450px;
    border-radius: 8px;
    background-color: #F5F5F5;
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
}
.search-field{
    border: none;
    outline: none;
    height: 100%;
    width: 100%;
    overflow: hidden;
    background: transparent;
    padding: 0 20px;
    font-size: 16px;
}
input[type="submit"]{
    display: none;
}
.search-bar label{
    width: 50px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    color: rgba(0,0,0,0.4);
    cursor: pointer;
}
.cart img, .profile img{
    width: 30px;
    cursor: pointer;
}
.right{
    display: flex;
    height: 100%;
    align-items: center;
    gap: 32px;
    color: #606060;
    
}
.icons{
    height: 100%;
    display: flex;
    align-items: center;
    gap: 30px;
}
.icons div{
    font-weight: 500;
    cursor: pointer;
	
}
.icons div:hover{
	background-color: #A1C6F3;
	color:#FFFFFF;
	box-shadow: 5px 10px 30px rgba(64,198,196,0.3);
	transition: all ease 0.2s;
    padding: 10px;
}




.profile-section{
	height: 100vh;
	width: 1000px;
	position: fixed;
    right: -100%;
    top: 0;
    background-color: rgb(225, 225, 225);
    padding: 0 30px;
    transition: all 0.7s ease;
}
.profile-section .top{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 0;
    color: var(--mainColor);
}
.profile-section .top h1{
    font-size: 24px;
}
.profile-section .top i{
    font-size: 30px;
    cursor: pointer;
}
.profile-section .middle{
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
.intro{
	font-size: 16px;
	margin-bottom: 20px;
}
.profile-section .middle a, .edit-profile-btn, .logout-profile-btn, .admin-btn{
    width: 100%;
    display: flex;
    align-items: center;
    padding: 10px 20px;
    text-decoration: none;
    color: var(--mainColor);
    border-radius: 6px;
}
.profile-section .middle a:hover, .edit-profile-btn:hover, .logout-profile-btn:hover, .admin-btn:hover{
    background-color: #A1C6F3;
    color: white;
}
.profile-section.active{
    right: 0;
}

.cart-section{
	height: 100vh;
	width: 350px;
	position: fixed;
    right: -100%;
    top: 0;
    background-color: rgb(225, 225, 225);
    padding: 0 30px;
    transition: all 0.7s ease;
}
.cart-section .top{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 0;
    color: var(--mainColor);
}
.cart-section .top h1{
    font-size: 24px;
}
.cart-section .top i{
    font-size: 30px;
    cursor: pointer;
}
.cart-section .middle{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    height: 70%;
    overflow-y: auto;
    margin-bottom: 10px;
}
.middle .item{
	width: 100%;
	display: flex;
	align-items: center;
	background: rgba(0,0,0,0.05);
	padding: 10px;
	border-radius: 8px;
}
.middle .item img{
	width: 70px;
	height: 70px;
	margin-right: 20px;
}
.lower{
	width: 100%;	
}
.lower span{
	display: flex;
	gap: 20px;
	font-weight: 600;
	font-weight: 18px;
}
.lower .index{
	color: var(--mainColor);
}
.lower a{
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 40px;
	background: var(--mainColor);
	border: none;
	border: 2px solid #A1C6F3 0;
	text-decoration: none;
	color: white;
	font-weight: semi-bold;
	font-size: 18px;
	outline: none;
	margin-top: 5px;
}
.cart-section.active{
    right: 0;
    width: 1263px;
}


.search-result{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 420px;
    overflow-y: auto;
    margin-bottom: 10px;
    position: absolute;
    top: -60%;
    right: 220px;
    background: rgba(255, 255, 255, 0.3);
    padding: 20px;
    transition: all 0.5s ease;
    opacity: 0;
}
.search-result .item{
	width: 100%;
	display: flex;
	align-items: center;
	background: rgba(255,255,255,0.5);
	padding: 10px;
	border-radius: 8px;
	margin: 10px 0;
}
.search-result .item img{
	width: 70px;
	height: 70px;
	margin-right: 20px;
}
.search-result.active{
	opacity: 1;
	top: 70px;
}
.search-head{
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0 30px;
	color: black;
	font-weight: 900;
	font-size: 20px;
}


.profile {
	color: #606060;
    cursor: pointer; /* Change cursor to pointer on hover */
	width: 30px;
	height: 30px;
	background: none;
	border: none;
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
    margin-right: -166px;
}

.profile:hover {
    border: 1px solid #A1C6F3; /* Border color on hover */
    background-color: #A1C6F3;
	color: white;
}



.about-section {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.image-container {
    flex: 1;
    text-align: center;
}

.text-container {
    flex: 2;
    padding: 0 20px;
}

.image-container img {
    max-width: 100%;
    height: auto;
    border-radius: 25%;
}

.text-container h1 {
    font-size: 24px;
    margin-bottom: 20px;
    color: var(--mainColor)
}

.text-container p {
    font-size: 16px;
    line-height: 1.6;
    color: #606060;
}
.image1-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: 50px; /* Adjust as needed */
}

.image1-container img {
    max-width: 47%;
    height: auto;
    border-radius: 25%;
}

.text1-container {
    flex: 2;
    padding: 0 20px;
    margin-right: 20px; /* Adjust as needed */
    
}

.text1-container h1 {
    font-size: 24px;
    margin-top: -420px;
    color: var(--mainColor);
}

.text1-container p {
    font-size: 16px;
    line-height: 1.6;
    color: #606060;
    text-align: left;
}
